<h1>Salons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Lng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salons.each do |salon| %>
  <tr>
    <td><%= salon.name %></td>
    <td><%= salon.lat %></td>
    <td><%= salon.lng %></td>
    <td><%= link_to 'Show', salon %></td>
    <td><%= link_to 'Edit', edit_salon_path(salon) %></td>
    <td><%= link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salon', new_salon_path %>
